{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    FTP Verbindungen - Bearbeiten
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">
        <div>
    	   <button><a href="contao/ftp-connections">zurück</a></button>
        </div>
        <br/>
        <div>
            <form method="post" action="contao/ftp-connections/save?id={{ftpEntry.id}}">
            	Protokoll
            	<select name="protocol_id">
            		{% for ftpProtocol in ftpProtocols %}
            			<option {% if ftpEntry.ftpProtocolId == ftpProtocol.id %} selected {% endif %} value="{{ftpProtocol.id}}">{{ftpProtocol.title}}</option>
            		{% endfor %}
            	</select><br/>
            	Name<input type="text" value="{{ftpEntry.title}}" name="title"/><br/>
            	Beschreibung<input type="text" value="{{ftpEntry.description}}" name="description"/><br/>
            	Server<input type="text" value="{{ftpEntry.server}}" name="server"/><br/>
            	Port<input type="text" value="{{ftpEntry.port}}" name="port"/><br/>
            	User<input type="text" value="{{ftpEntry.user}}" name="user"/><br/>
            	Password<input type="text" value="{{ftpEntry.password}}" name="password"/><br/>
            	<br/>
            	<input type="submit">
            </form>
        </div>
    </div>
{% endblock %}