{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Verbindungen
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
  <div id="tl_buttons">
    <a class="header_new" href="contao/ftp-connections/edit">Hinzuf&uuml;gen</a>
  </div>

<div class="tl_listing_container tree_view" id="tl_listing">
    <ul class="tl_listing tl_tree_xtnd">
      <li class="tl_folder_top cf">
        <div class="tl_left">
          <label>Verbindungen</label>
        </div>
        <div class="tl_right">&nbsp;</div>
      </li>


      {% for ftpConnection in ftpData %}
        <li class="tl_folder cf">
          <div class="tl_left" style="padding-left:0px">
            <img src="system/themes/flexible/icons/pagemounts.svg" width="18" height="18" alt="">
            <strong>{{ftpConnection.title}}</strong> - {{ftpConnection.description}}<br>
            {{ftpConnection.user}}@{{ftpConnection.server}}:{{ftpConnection.port}}
            </div>

            <div class="tl_content_right">
              <a href="contao/ftp-connections/edit?id={{ftpConnection.id}}" title="" class="edit"><img src="system/themes/flexible/icons/edit.svg" width="16" height="16" alt="Element bearbeiten"></a>
              <a href="contao/ftp-connections/delete?id={{ftpConnection.id}}" title="" class="delete" onclick="if(!confirm('Soll der Eintrag ID 107431 wirklich gel&ouml;scht werden?'))return false;Backend.getScrollOffset()"><img src="system/themes/flexible/icons/delete.svg" width="16" height="16" alt="Element löschen"></a>
            </div>

        </li>
          
            {% if ftpConnection is iterable %}
            <ul class="level_0">
            <li class="tl_file click2edit toggle_select hover-div cf"></li>
            </ul>
            {% endif %}

          <!--  {% for config in ftpConnection.ftpSyncConfig %}
              {{config.sourcePath}} - {{config.destinationPath}}
            {% endfor %}
            -->
          

        
      {% endfor %}
    </ul>
    </div>
{% endblock %}