{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
Verbindungen Verwalten
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
  <div id="tl_buttons">
    <a class="header_new" href="contao/ftp-connections/edit">Server Hinzuf&uuml;gen</a>
  </div>

<div class="tl_listing_container tree_view supsign-connectors" id="tl_listing">
    <ul class="tl_listing tl_tree_xtnd">
      <li class="tl_folder_top cf">
        <div class="tl_left">
          <label>Verbindungen</label>
        </div>
        <div class="tl_right">&nbsp;</div>
      </li>


      {% for ftpConnection in ftpData %}
        <li class="tl_folder cf">
          <div class="tl_left">
            <img src="bundles/contaoconnectors/img/server.svg" width="13" height="13" alt="">
            <strong>{{ftpConnection.title}}</strong> - {{ftpConnection.description}}<br>
            {{ftpConnection.user}}@{{ftpConnection.server}}:{{ftpConnection.port}}
          </div>

          <div class="tl_content_right">
            <a href="contao/ftp-connections/config/edit?parent_id={{ftpConnection.id}}" title="" class="add"><img src="system/themes/flexible/icons/pasteafter.svg" width="16" height="16" alt="Element hinzufügen"></a>
            <a href="contao/ftp-connections/edit?id={{ftpConnection.id}}" title="" class="edit"><img src="system/themes/flexible/icons/edit.svg" width="16" height="16" alt="Element bearbeiten"></a>
            <a href="contao/ftp-connections/delete?id={{ftpConnection.id}}" title="" class="delete" onclick="if(!confirm('Soll der Eintrag ID 107431 wirklich gel&ouml;scht werden?'))return false;Backend.getScrollOffset()"><img src="system/themes/flexible/icons/delete.svg" width="16" height="16" alt="Element l&ouml;schen"></a>
          </div>
        </li>

        
        {% for config in ftpConnection.syncConfigs %}
          <ul class="level_0">
            <li class="tl_file">
              <div class="tl_left"><strong>{{config.title}}</strong> Lokal: <i>{{config.sourcePath}}</i> Remote:<i>{{config.destinationPath}}</i></div>

              <div class="tl_content_right">
                <a href="contao/ftp-connections/config/edit?id={{config.id}}" title="" class="edit"><img src="system/themes/flexible/icons/edit.svg" width="16" height="16" alt="Element bearbeiten"></a>
                <a href="contao/ftp-connections/config/delete?id={{config.id}}" title="" class="delete" onclick="if(!confirm('Soll der Eintrag ID 107431 wirklich gel&ouml;scht werden?'))return false;Backend.getScrollOffset()"><img src="system/themes/flexible/icons/delete.svg" width="16" height="16" alt="Element l&ouml;schen"></a>
              </div>
            </li>
          </ul>
        {% endfor %}
      {% endfor %}
    </ul>
    </div>
{% endblock %}